<!DOCTYPE html>
<html>
<style>
    .done {
        color: gray;
    }
</style>

<head>
    <title>ToDoList</title>
</head>

<body>

    <script src="https://unpkg.com/vue@next"></script>


    <div id="demo">

        <h3>tasks:{{notyet}} tasks Done:{{already}} </h3>

        <button type="button" v-on:click="alldelete"> tasks byebye </button>
        <button type="button" v-on:click="deletedone"> done tasks byebye </button>
        <h4></h4>
        <button type="button" v-on:click="this.value = 0; this.checknonetodolist();"> show all tasks  </button>
        <button type="button" v-on:click="this.value = 1;  this.checknonetodolist();"> show done tasks </button>
        <button type="button" v-on:click="this.value = 2;  this.checknonetodolist();"> show undone tasks </button>
        <h4></h4>>
        <button type="button" v-on:click="create">add</button>
        <input v-model="message"> {{message}}
        <list v-for="column in infoOne" :time="column.time" :aaaa="column.isActive" :target="column.message" @fix="fix" @bye="bye" @change="change" :key="column.time"></list>

    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    value: 0,
                    message: 'Hello',
                    notyet: 0,
                    already: 0,
                    columns: []
                }
            },
            watch: {
                columns: {
                    handler: function(newvalue, oldvalue) {
                        console.log('columns changed');
                        console.log(this.columns);
                    }
                }


            },
            methods: {
                checknonetodolist() {
                    this.notyet = 0;
                    this.already = 0;
                    if (this.columns.length == 0) {

                    } else {
                        var i = 0;
                        for (; i < this.columns.length; i++) {
                            if (this.columns[i].isActive == false) this.notyet++;
                            else this.already++;

                        }
                    }
                },
                change(message) {
                    var i = 0;
                    for (; i < this.columns.length; i++) {
                        if (this.columns[i].time == message) break;
                    }
                    var temp_message = this.columns[i].message;
                    var temp_active = !this.columns[i].isActive;
                    console.log(temp_active);
                    /*this.columns[i] = {
                        "message": temp_message,
                        "time": message,
                        "isActive": temp_active
                    };*/

                    let arr = this.columns.slice();
                    arr[i].isActive = temp_active;
                    this.columns = arr;
                    for (var y = 0; y < this.columns.length; y++) {
                        this.columns[y].time += 1;
                    }

                    //this.$forceUpdate();
                    /*this.columns.push({
                        "message": temp_message + "s",
                        "time": message,
                        "isActive": temp_active
                    });*/

                    //this.columns.splice(i, 1);
                    //this.columns[i].isActive = !this.columns[i].isActive;
                    this.checknonetodolist();
                },
                alldelete() {
                    this.columns.splice(0, this.columns.length);
                    this.checknonetodolist();

                },
                bye(message) {
                    var i = 0;
                    for (; i < this.columns.length; i++) {
                        if (this.columns[i].time == message) break;
                    }
                    this.columns.splice(i, 1);
                    this.checknonetodolist();

                },
                deletedone() {
                    if (this.columns.length == 0) {} else {
                        var i = 0;
                        for (; i < this.columns.length; i++) {
                            if (this.columns[i].isActive == true) this.bye(i--);

                        }
                    }
                    this.checknonetodolist();
                },
                create() {
                    var time = Date.now();
                    this.columns.push({
                        "message": this.message,
                        "time": time,
                        "isActive": false
                    })
                    this.checknonetodolist();
                },
                fix(update) {
                    var i = 0;
                    for (; i < this.columns.length; i++) {
                        if (this.columns[i].time == update[0].time) break;
                    }
                    this.columns[i].message = update[0].newmessage;
                }
            },
            computed: {
                infoOne: function() {
                    if (this.value == 0) return this.columns;
                    else if (this.value == 1) return this.columns.filter(i => i.isActive === true);
                    else if (this.value == 2) return this.columns.filter(i => i.isActive === false);
                },
            }

        });
        vm.component('list', {
            name: `list`,
            template: `<div>
                  <button type = "button" v-on:click = "this.$emit('change',newtime);"  >Ok</button>
                        <span>{{Active ? "yes" : "no"}}</span>
                        <span v-if="Active" class = "done">{{message}}</span>
                        <span v-else >{{message}}</span>
                        <button type="button" v-on:click="this.$emit('bye',newtime);">delete</button>
                        <input v-model="premessage">
                        <button type = "button" v-on:click = "fix();"> fix </button>
                        </div>`,
            props: ['target', 'aaaa', 'time'],
            data() {
                return {
                    Active: this.aaaa,
                    message: this.target,
                    premessage: "none",
                    newtime: this.time
                }
            },
            watch: {
                Active: {
                    handler: function(newvalue, oldvalue) {
                        console.log('active changed');
                        console.log(this.Active);
                    },
                    deep: true,
                }

            },
            methods: {
                fix() {
                    update = [];
                    this.message = this.premessage;
                    update.push({
                        "time": this.newtime,
                        "newmessage": this.premessage,
                        "oldmessage": this.message,

                    });

                    this.$emit('fix', update);
                }
            }
        });
        vm.mount('#demo');
    </script>



</body>


</html>